{% extends 'layout.html' %}

{% block content %}

<!-- HERO -->
<header class="hero">
    <div class="container text-center">
        <h1>Нэвтрэх</h1>
        <p>Манай дэлгүүрт тавтай морилно уу</p>
    </div>
</header>

<!-- LOGIN FORM -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-5">

                <div class="card shadow-lg border-0 rounded-4 p-4">

                    <h3 class="text-center fw-bold mb-4">
                        Аккаунт руу нэвтрэх
                    </h3>

                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}

                        <!-- USERNAME -->
                        <div class="mb-3">
                            <label class="form-label">Нэвтрэх нэр</label>
                            <input type="text"
                                   class="form-control form-control-lg rounded-3"
                                   name="username"
                                   placeholder="Username">
                        </div>

                        <!-- PASSWORD -->
                        <div class="mb-3">
                            <label class="form-label">Нууц үг</label>
                            <input type="password"
                                   class="form-control form-control-lg rounded-3"
                                   name="password"
                                   placeholder="Password">
                        </div>

                        <!-- BUTTON -->
                        <button type="submit"
                                class="btn btn-dark w-100 py-2 rounded-pill mt-3">
                            Нэвтрэх
                        </button>

                    </form>

                    <div class="text-center mt-3">
                        <small class="text-muted">
                            Бүртгэлгүй юу?
                            <a href="{% url 'register' %}">Бүртгүүлэх</a>
                        </small>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}