<nav class="navbar navbar-expand-lg navbar-glass sticky-top">
    <div class="container px-4 px-lg-5">

        <!-- BRAND -->
        <a class="navbar-brand fw-bold" href="{% url 'home' %}">
            🛒 Цахим дэлгүүр
        </a>

        <!-- TOGGLE -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Эхлэл</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">Бидний тухай</a>
                </li>

                <!-- DROPDOWN -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        Ангилал
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'home' %}">Бүх бүтээгдэхүүн</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Гар-утас' %}">📱 Гар утас</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Суурин-Компьютер' %}">💻 Компьютер</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Нөүтбүүк' %}">🖥 Нөүтбүүк</a></li>
                    </ul>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'logout' %}">
                            Гарах
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Нэвтрэх
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                            Бүртгүүлэх
                        </a>
                    </li>
                {% endif %}

            </ul>

            <!-- CART -->
            <div class="d-flex">
                <a href="{% url 'cart' %}" class="btn btn-cart">
                    🛒 Сагс
                    <span class="badge bg-danger ms-1" id="cart_quantity">
                        {{ cart|length }}
                    </span>
                </a>
            </div>

        </div>
    </div>
</nav>